@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Montserrat:wght@100;300&family=Nunito:wght@300&family=Poppins:wght@100;300;500;700;900&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    font-family: poppins;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #33658a;
    text-align: center;
}

.formulario {
    background-color: #f6ae2d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    border-radius: 20px;
    width: 600px;
}

.formulario p {
    padding: 0;
    padding-left: 0.5rem;
    margin: 0;
    font-size: 1rem;
    color: #33658a;
}

.titleform {
    color: #33658a;
}

.formulario input {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    border: 1px solid #f6ae2d;
}

.formulario button {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    border: 1px solid #f6ae2d;
    width: 92%;
    background-color: #f26419;
    color: #2f4858;
    font-weight: 700;
}

.formulario button:hover {
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listrobots {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.listrobots--item {
    background-color: #33658a;
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listrobots--name {
    font-size: 2rem;
    color: #f6ae2d;
}

.listrobots--delete {
    font-size: 2rem;
}

.listrobots--delete {
    cursor: pointer;
}
